var pathname = location.pathname; //获取url中"?"符后的字串
var pathArr = pathname.split("/");
var flag = pathArr[pathArr.length-1];
console.log(flag)
$.ajax({
	type:"post",
	url : "APP_MAIN/share/index",
	success : function(data){
	wx.config({
		debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
		appId: data.appId, // 必填，公众号的唯一标识
		timestamp: data.timestamp, // 必填，生成签名的时间戳
		nonceStr:  data.noncestr, // 必填，生成签名的随机串
		signature: data.sign,// 必填，签名，见附录1
		jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareWeibo'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
	});
	wx.ready(function() {
		var data = JSON.parse(localStorage.getItem("$infoData"));
		var title = data['share_title'];
		var share_contents = data['share_contents']+'\r\n';
		var share_contentss = data['share_contentss']+'\r\n';
		var share_nick_name = data['share_nick_name']+'\r\n';
		var share_pointnum = data['share_contentsss'];
		var share_pointnum2 = data['share_contentssss']+'\r\n';
		var url = data['share_url'];
		var imgurl = data['share_img'];
		var desc = share_contents+ share_contentss+share_pointnum + share_pointnum2;
		var pointJifen = data['share_contentss'].split("￥")[1];
		var pointJifen1 = pointJifen.split(".")[0];
		var pointJifen2 = '通兑积分 '+pointJifen1+'\r\n';
		var pointYunfen = '只送不卖,全免包邮\r\n';
		switch(flag){
			case 'goodsdetail':
				var desc = share_contents+ share_contentss+share_pointnum + share_pointnum2;
			break;
			case 'excdetail':
				var desc = pointJifen2+ pointYunfen;
			break;
			case 'newMember':
				var title = '新手专享--让爱传递，把“呗”带回家，可好？';
				var desc = '小呗告诉你秘密，新人注册享限量免费领取抖音商品的活动，先到先得，无门槛无套路!';
				var imgurl = 'http://www.jifenbei.cn/template/wap/default/public/images/newIndex/jifenLogoOne.png';
				var url = location.href.split("#")[0];
			break;
			default:
				var title = '积分呗--积分通支付，链接新生活';
				var desc = '消费即存钱，积分可赚钱，打破传统，突破消费，给家一份安全感';
				var imgurl = 'http://www.jifenbei.cn/template/wap/default/public/images/newIndex/jifenLogo.png';
				var url = location.href.split("#")[0];
			break;
		}
		wx.onMenuShareAppMessage({
			title: title,
			desc: desc,
			link: url,
			imgUrl: imgurl,
			trigger: function (res) {
				//alert('用户点击发送给朋友');
			},
			success: function () {
				//alert('分享成功');
				/*$.ajax({
					type : "post",
					url : "APP_MAIN/index/sharegivepoint",
					data : {
						"share" : true
					},
					success : function(data){

					}
				});*/
			},
			cancel: function (res) {
				//alert('已取消');
			},
			fail: function (res) {
				//alert(JSON.stringify(res));
			}
		});

		// 2.2 监听“分享到朋友圈”按钮点击、自定义分享内容及分享结果接口
		wx.onMenuShareTimeline({
			title: title,
			link: url,
			imgUrl: imgurl,
			trigger: function (res) {
				// alert('用户点击分享到朋友圈');
			},
			success: function (res) {
				//alert('已分享');
			/*$.ajax({
				type : "post",
				url : "APP_MAIN/index/sharegivepoint",
				data : {
				"share" : true
				},
				success : function(data){

				}
			});*/
			},
		cancel: function (res) {
			//alert('已取消');
		},
		fail: function (res) {
			// alert(JSON.stringify(res));
		}
		});

		// 2.3 监听“分享到QQ”按钮点击、自定义分享内容及分享结果接口
		wx.onMenuShareQQ({
			title: title,
			desc: desc,
			link: url,
			imgUrl: imgurl,
			trigger: function (res) {
				//alert('用户点击分享到QQ');
			},
			complete: function (res) {
				//alert(JSON.stringify(res));
			},
			success: function (res) {
				//alert('已分享');
				/*$.ajax({
					type : "post",
					url : "APP_MAIN/index/sharegivepoint",
					data : {
					"share" : true
					},
					success : function(data){

					}
				});*/
			},
			cancel: function (res) {
				//alert('已取消');
			},
			fail: function (res) {
				//alert(JSON.stringify(res));
			}
		});

		// 2.4 监听“分享到微博”按钮点击、自定义分享内容及分享结果接口
		wx.onMenuShareWeibo({
			title: title,
			desc: desc,
			link: url,
			imgUrl: imgurl,
			trigger: function (res) {
				//alert('用户点击分享到微博');
			},
			complete: function (res) {
				//alert(JSON.stringify(res));
			},
			success: function (res) {
				//alert('已分享');
				/*$.ajax({
					type : "post",
					url : "APP_MAIN/index/sharegivepoint",
					data : {
						"share" : true
					},
					success : function(data){

					}
				});*/
			},
			cancel: function (res) {
				//alert('已取消');
			},
			fail: function (res) {
				//alert(JSON.stringify(res));
			}
			});
		});

	}
})