{extend name="admin/base" /}
{block name="resources"/}
<script src="ADMIN_JS/art_dialog.source.js"></script>
<script src="ADMIN_JS/iframe_tools.source.js"></script>
<script src="ADMIN_JS/material_managedialog.js"></script>
<link rel="stylesheet" type="text/css" href="ADMIN_CSS/defau.css">
{/block}
{block name="main"}
<div class="set-style">
	<input name="UserCode" id="group_id" type="hidden" value="{$data.group_id}">
	<dl>
		<dt><span class="color-red">*</span>商品分组名称:</dt>
		<dd>
			<p><input name="UserCode" id="group_name" type="text" value="{$data.group_name}"> </p>
			<p class="error">请输入商品分组名称</p>
		</dd>
	</dl>
<!-- 	<dl> -->
<!-- 		<dt>上级分组:</dt> -->
<!-- 		<dd> -->
<!-- 			<select name="search_type" id="pid"> -->
<!-- 				<option value="0">顶级分组</option> -->
<!-- 				{notempty name="group_list"} -->
<!-- 					{foreach name="group_list" item="v1"} -->
<!-- 					<option value="{$v1['group_id']}" {if condition="$data.pid eq $v1['group_id']"}selected{/if}>&nbsp;&nbsp;&nbsp;&nbsp;{$v1['group_name']}</option> -->
<!-- 					{/foreach} -->
<!-- 				{/notempty} -->
<!-- 			</select> -->
<!-- 		</dd> -->
<!-- 	</dl> -->
<!-- 	<dl> -->
<!-- 		<dt>是否可见:</dt> -->
<!-- 		<dd> -->
<!-- 			<p> -->
<!-- 				<input id="is_visible" type="checkbox" class="checkbox" {if condition="$data.is_visible eq 1"}checked="checked"{/if}/> -->
<!-- 				<span class="help-inline" id="is_menuPrompt" style="display: none;"></span> -->
<!-- 			</p> -->
<!-- 		</dd> -->
<!-- 	</dl> -->
	<dl>
		<dt>排序:</dt>
		<dd>
			<p><input name="UserCode" id="sort" type="text"value="{$data.sort}"></p>
			<p class="error">请输入序号</p>
		</dd>
	</dl>
	<dl>
		<dt>分组图片:</dt>
		<dd>
			<div class="class-logo"><p><img id="imgLogo2"src="__ROOT__/{$data.group_pic}" ></p></div>
			<div class="ncsc-upload-btn"> 
			    <a href="javascript:void(0);"><span>
			          <input hidefocus="true" size="1" class="input-file" name="file_upload" id="uploadImg2" nc_type="change_store_label" type="file" onchange="imgUpload(this);">
			        <input type="hidden"id="Logo2"value="{$data.group_pic}"/></span><p><!-- <i class="icon-upload-alt"></i> -->上传图片</p>
			    </a> 
			</div>
			<p class="hint"><br><span style="color:orange;">建议使用宽600像素-高60像素内的GIF或PNG透明图片；点击下方"提交"按钮后生效。</span></p>
		</dd>
		
		
		
	</dl>
	<button class="edit_button" onclick="updateGoodsCategoryAjax();">提交</button>
</div>
<script src="ADMIN_JS/goods/goods_group_edit.js"></script>
<script src="ADMIN_JS/ajax_file_upload.js" type="text/javascript"></script>
<script src="__STATIC__/js/file_upload.js" type="text/javascript"></script>
<script>
/**
 *图片上传
 */
function imgUpload(event) {
	var fileid = $(event).attr("id");
	var str = $(event).next().attr("id");
	var data = { 'file_path' : UPLOADCOMMON };
	uploadFile(fileid,data,function(res){
		if(res.code){
			$("#img"+str).attr("src","__UPLOAD__/"+res.data);
			$("#"+str).val(res.data);
			showTip(res.message,"success");
		}else{
			showTip(res.message,"error");
		}
	});
}
</script>
{/block}