/*清除浮动*/
.cf:before,.cf:after{display:table;line-height:0;content:"";}
.cf:after{clear:both;}
*.cf{zoom:1;}
/*common style*/
*,body{
	padding: 0;
	margin: 0;
	font-family: "MicrosoftYaHei", Helvetica, Arial, sans-serif;
}
html, body { width:100%; height:100%; margin:0; padding:0; font-size: 12px;}
body{background:#F6F6F6;margin:0 auto;}
li{list-style:none}
a:active,a:hover {outline: 0;text-decoration:none;}
a, li, a:hover, a:active, a:focus {text-decoration:none;}
.fl { float: left;}
.fr { float: right;}
.header{
	width:1200px;
	margin:0 auto;
	position:relative;
}
.logo{
	width:66px;
	background-image: linear-gradient(160deg, #FC6C61 20%,#F83271 80%);
	padding:0 10px;
	padding-top:60px;
	padding-bottom:10px;
}
.header .nav{
	width:600px;
	margin:0 auto;
}
.nav li{
	float: left;
	width:calc((100% - 9px) / 7);
	width:-moz-calc((100% - 9px) / 7);
	width:-webkit-calc((100% - 9px) / 7);
	text-align: center;
	border-right:1.5px solid #1E1E1E;
	height: 16px;
    margin-top: 40px;
}
.nav ul>li:last-child{
	border-right:none;
}
.nav li a{
	color:#1E1E1E;
    font-size: 12px;
    font-weight: bold;
}
.nav li a:hover{
	color:#F7382A;
}
.nav li a.tab{
	color:#F7382A;
}
section{
	margin: 0 auto;
	margin-bottom:30px;
	background: #fff;
	padding:10px 0;
}
.banner{position:relative;}
.us{font-size:42px;color:#fff;position:absolute;top:34%;left:0;right:0;margin:0 auto;width:200px;}
.usEn{font-size:24px;color:#fff;position:absolute;top:50%;left:0;right:0;margin:0 auto;width:200px;}
section .title{text-align: center;margin:20px auto;width:300px;font-size:24px;border-bottom:#CD090B 1.5px solid;padding-bottom:30px;}
.ulList{
	width:50%;
	margin:0 auto;
}
.ulList li{
	width:27%;
	float: left;
	padding:0 20px;
}
.ulList li div:first-child{
	font-size:22px;
	text-align: center;
	margin: 0 auto;
	margin-bottom:6px;
	width: 162px;
}
.ulList li div:last-child{
	font-size:16px;
	margin: 0 auto;
	margin-bottom:6px;
	color:#7E7E7E;
	line-height:26px;
	width: 162px;
}
.hr{
	border-top:26px solid #CD090B;
	margin-top:50px;
}
.achieve{
	background: url(../images/pic07.png)center no-repeat;
	background-size:100%;
	padding:50px 0;
	margin-top:20px;
}
.achieve .title{
	color:#fff;
	font-size:30px;
	margin-bottom:40px;
}
.jizhong{
	width:900px;
	margin:16px auto;
}
.jizhong .fistr{width:300px;}
.jizhong .fistr .minshw{
	background:#F1F1F3;
	margin-bottom:4px;
}
.jizhong .fistr .minshw .J_titile{
	text-align: center;
	font-size:22px;
	padding-top:40px;
	padding-bottom:10px;
}
.jizhong .fistr .minshw .jioke{
	font-size:10px;
	padding-left:20px;
	padding-bottom:4px;
}
.jizhong .fistr .minshw .jioke:last-child{
	padding-bottom:20px;
}
.jizhong .fistr .jikomes{
	background:#F1F1F3;
	margin-bottom:10px;
	padding-bottom:80px;
}
.jizhong .fistr .jikomes .J_titile{
	font-size:22px;
	padding-top:40px;
	padding-bottom:10px;
	padding-left:30px;
}
.jizhong .fistr .jikomes .jioke{
	padding-left:30px;
	font-size:16px;
	line-height:28px;
}
.jizhong .two{width:296px;margin:0 2px;}
.jizhong .two .minshw{
	background:#F1F1F3;
	margin-bottom:4px;
	padding-bottom:60px;
}
.jizhong .two .minshw .J_titile{
	font-size:22px;
	padding-top:40px;
	padding-bottom:10px;
	text-align: center;
}
.jizhong .two .minshw .jioke{
	padding-left:48px;
	font-size:16px;
	line-height:28px;
}
.jizhong .two .jikomes{
	background:#F1F1F3;
	margin-bottom:10px;
}
.jizhong .two .jikomes .J_titile{
	font-size:22px;
	padding-top:14px;
	padding-bottom:10px;
	padding-left:30px;
}
.jizhong .two .jikomes .jioke{
	padding-left:30px;
	font-size:10px;
	line-height:20px;
	padding-bottom:5px;
}
article{position: relative;}
article .name{text-align: center;font-size:20px;}
article .hrs{width:30px;border-top:2px solid #CD090B;margin:4px auto 30px auto;}
article .jimske{
	background:#fff;
	width:30%;
	position:absolute;
	padding:30px 90px;
	left: 0;
	right:0;
	margin:0 auto;
    bottom: -280px;
}
article .jimske .k_titie{
	font-size:24px;
	padding-bottom:4px;
}
article .jimske .jkinse{
	padding-bottom:14px;
	line-height:20px;
}
footer{
	background:#141414;
	margin: 0 auto;
	padding-bottom:20px;
}
.link {
	width:960px;
	margin:0px auto;
	padding-top:20px;
}
.link li{
	width:23%;
	float: left;
	color:#fff;
	text-align:center;
	border-right:1px solid #fff;
	height:184px;
}
.link ul >li:last-child{
	border-right:none;
}
.link li div{
	font-size:18px;
	padding-bottom:30px;
}
.link li a{
	color:#fff;
	display:block;
	padding-bottom:10px;
	font-size:14px;
}
.acode{
	width:100px;
	margin:20px auto 14px auto;
}

.xiang{
	text-align: center;
	color:#fff;
	margin-top: 40px;
}