/*common style*/
*,body{
	padding: 0;
	margin: 0;
	font: normal 100% 'Microsoft Yahei', Arial, sans-serif;
}
html, body { width:100%; margin:0; padding:0; font-size: 12px;}
body{background:#fff;min-width:320px;max-width:640px;margin:0 auto;}
li{list-style:none}
a:active,a:hover {outline: 0;text-decoration:none;}
a, li, a:hover, a:active, a:focus {text-decoration:none;}
a,input,button{border: none;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;outline: none;}
.fl { float: left;}
.fr { float: right;}
/*清除浮动*/
.cf:before,.cf:after{display:table;line-height:0;content:"";}
.cf:after{clear:both;}
*.cf{zoom:1;}
.reksm{
	position:relative;
	padding:10px 0 14px 16px;
	border-bottom:1px solid #F6F5FA;
}
.reksm label{
	color: #606060;
	font-size:16px;
	width:26%;
}
 input::-webkit-input-placeholder {
    color:#CDCDD2;
}
.reksm .nameInput{
	font-size:14px;
	height:22px;
	line-height:23px;
	color: #606060;
}
.reksm #btn{
	background: url(../images/btnBg.png)no-repeat center center;
	color:#fff;
	width:84px;
	height:30px;
	display: inline-block;
	position: absolute;
	text-align: center;
	line-height:30px;
	right: 10px;
}
.badgeBtn{
	width:90%;
	margin:auto;
	text-align:center;
	margin-top:46px;
}
.badgeBtn .msg{
    color: #F83271;
    font-size: 14px;
    height:30px;
    display:none;
    text-align: center;
}
.badgeBtn button,.badgeBtn a{
	width:100%;
	border-radius:8px;
	height:40px;
	line-height:40px;
	color:#fff;
	border:1px solid #F83271;
	background: #F83271;
	font-size:16px;
	display:inline-block;
}
@media only screen and (max-width:320px ) {
	.badgeBtn{
		width: auto;
	}
	.badgeBtn button,.badgeBtn a{
		width:300px;
	}
}