/*common style*/
*,body{
	padding: 0;
	margin: 0;
	font: normal 100% 'Microsoft Yahei', Arial, sans-serif;
}
html, body { width:100%; margin:0; padding:0; font-size: 12px;}
body{background:#fff;min-width:320px;max-width:640px;margin:0 auto;}
li{list-style:none}
a:active,a:hover {outline: 0;text-decoration:none;}
a, li, a:hover, a:active, a:focus {text-decoration:none;}
a,input,button{border: none;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;outline: none;}
.fl { float: left;}
.fr { float: right;}
/*清除浮动*/
.cf:before,.cf:after{display:table;line-height:0;content:"";}
.cf:after{clear:both;}
*.cf{zoom:1;}
.box .evaluate_right_one{
	color:#666;
	font-size:14px;
	margin-top:10px;
	padding-left:20px;
}
.box .evaluate_right_one a img{
	width:24px;
	height:25px;
	vertical-align: sub;
}
.picImg img{
	width:50px;
    vertical-align: middle;
    margin-right:10px;
}
.rate_content{
	margin:20px auto 0 auto;
	width: 90%;
    position: relative;
}
.evaluate_right_imgs li {
    float: left;
    display: block;
    height: 36px;
    width: 36px;
    background: no-repeat center center;
    background-size: cover;
    margin-right: 5px;
}
.rate_content .content{
	height:150px;
	box-shadow:0px 0px 8px rgba(0,0,0,.2);
}
.rate_content .content textarea{
	width:calc(100% - 20px);
	height:calc(100% - 20px);
	padding:10px;
	border: none;
}
.evaluate_right_two {
    position: absolute;
    z-index: 2;
    bottom: 0px;
    left: 0px;
    width: 80px;
    height: 80px;
    top: 158px;
    border:1px dashed #F5F5F5;
}
.input-file{
	width: 80px;
    height: 80px;
    padding: 0;
    margin: 0;
    border: none 0;
    opacity: 0;
    filter: alpha(opacity = 0);
    cursor: pointer;
    line-height: 20px;
    background-color: #FBFBFB;
    position: absolute;
    z-index:999;
}
.evaluate_right_three{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    background:#fff url(../images/icon/printer.png)no-repeat center 16px;
    background-size: 25px 20px;
    line-height: 104px;
    color:#A0A0A0;
}
.num{
	margin-left: 90px;
    margin-top:38px;
    display: inline-block;
}
.common-btn{
	position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    height: 40px;
    font-size: 16px;
    background: #E7475E;
    color: #fff;
}
.evaluate_right_imgs{
	height:40px;
}
.checkbox{
	vertical-align:bottom;
}
.evaluate_right_imgs li>span {
    cursor: pointer;
    text-align: center;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    z-index: 3;
    font-size: 12px;
    background-color: #000;
    opacity: .8;
    filter: alpha(opacity = 80);
    color: #FFF;
    text-decoration: none;
    display: none;
}
