/*common style*/
*,body{
	padding: 0;
	margin: 0;
	font: normal 100% 'Microsoft Yahei', Arial, sans-serif;
}
html, body { width:100%; height:100%; margin:0; padding:0; font-size: 12px;}
body{background:#F9FAFB;min-width:320px;max-width:640px;margin:0 auto;}
li{list-style:none}
a:active,a:hover {outline: 0;text-decoration:none;}
a, li, a:hover, a:active, a:focus {text-decoration:none;}
a,img,div,input{border: none;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;outline: none;}
.fl { float: left;}
.fr { float: right;}
/*清除浮动*/
.cf:before,.cf:after{display:table;line-height:0;content:"";}
.cf:after{clear:both;}
*.cf{zoom:1;}
.searchHead{
	border-bottom:1px solid #F6F5FA;
	padding: 10px;
	background:#fff;
}
.searchHead .title{
	border-bottom:1px solid #F6F5FA;
	padding:0 14px 10px 14px;
}
.searchHead .title .fl{
	width:76%;
}
.searchHead .title .fl input{
	background:#F6F5FA;
	border:1px solid #F6F5FA;
	border-radius:20px;
	height:20px;
	width:100%;
	line-height:22px;
	padding:6px 14px;
}
.searchHead .title #searchIcon{
	color:#333;
	height: 32px;
	line-height:32px;
	font-size:14px;
	cursor: pointer;
}
.container .team .href {
	cursor:pointer;
}
.container .team .href .fr{
	font-size:14px;
	color:#8A8A8A;
	background:url(../images/ARROW.png)no-repeat right center;
	padding-right:16px;
}
.container .team{
	background:#fff;
	margin-bottom:10px;
}
.team .title a{
	color: #181818;
}
.team .title{
	padding:12px 14px;
	border-bottom:1px solid #F8F8F8;
	background:url(../images/flag.png)no-repeat 20px center;
	padding-left:32px;
	font-size: 15px;
	color: #181818;
}
.team .title .fr img{
	cursor:pointer;
}
.nav-tabs ul .col-cx-4{
	width:33.3333%;
	float:left;
	text-align: center;
	padding:16px 0;
}
.nav-tabs ul .col-cx-4 .number{
	color:#E9A003;
	font-size:18px;
	padding-bottom: 10px;
}
.nav-tabs ul .col-cx-4 .number .mongfd{
	font-size:12px;
}
.nav-tabs ul .col-cx-4 .lable{
	color:#515151;
	font-size:14px;
}
.detailed{
	padding:6px 0;
	text-align:center;
	margin:6px 0;
	color:#8A8A8A;
	font-size:16px;
	font-weight:bold;
}
.detailedContent{
	margin:0 4px;
	background:#fff;
	margin-bottom:10px;
}
.detailedContent .title{
	border-bottom:1px solid #F5F5F5;
	padding:16px 0 16px 14px;
	color: #626262;
	font-size:16px;
}
.amount{
	padding: 10px 10px 10px 14px;
}
.amount .J_amount .order{
	font-size:16px;
	padding-bottom:10px;
	color: #626262;
}
.amount .J_amount .date{
	font-size:12px;
	color: #626262;
}
.amount .profit {
	text-align:right;
}
.amount .profit .order{
	font-size:16px;
	padding-bottom:10px;
	color: #626262;
}
.amount .profit .order span{
	color: #FC0061;
}
.amount .profit .date{
	font-size:12px;
	color: #626262;
}
