.cf:before,.cf:after{display:table;line-height:0;content:"";}
a,li,div{border: none;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;outline: none;}
.cf:after{clear:both;}
*.cf{zoom:1;}
.search{background:#fff;padding:4px 0;}
.search span{cursor:pointer;float:left;background:#fff;width:10%;text-align:center;}
.search span.searchInput{width:68%;}
.search span.pic,.search span.message{padding-top:10px;}
.messageImg{width: 16px;position:relative;margin:0 auto;}
.message_have{position: absolute;top:0;right:0;}
input::-webkit-input-placeholder {
    font-size:14px;
}
.fl { float: left;}
.fr { float: right;}
.header{
	padding:10px 14px 0 14px;
}
.subordinate-team{
	display:none;
}
.header .fl{
	width:calc(100% - 30px);
}
.header .search{
	height:26px;
	border-radius:22px;
	width: 100%;
	background:#fff url(../images/search_icon_2.png)no-repeat 10px center;
	background-size: 11px 11px;
	padding:16px 0 16px 24px;
}
.header .fr{
	height:26px;
	padding:8px 0 16px 0px;
}
.header #dateShowBtn{
	width:20px;
}
.J_user{
	padding:10px 20px 0 20px;
}
.user-con-top{
	margin-top:6px;
	color:#0F0F0F;
	font-size:14px;
	padding-left:14px;
}
.J_level{
	margin-top:4px;
	background:url(../images/icon/medal.png)no-repeat left center;
	background-size:8px 11px;
	padding-left:12px;
}
.commission{
	font-size:14px;
	margin-top:6px;
}
.box .team{
	width:80%;
	margin:0 auto;
	padding:8px 14px 10px 14px;
}
.under,.subordinate{
    height: 30px;
    margin-top: 26px;
}
.box .team .J_team{
	background:url(../images/icon/bbg01.png)no-repeat center;
	background-size:90px 67px;
	height:100px;
	width:50%;
	text-align: center;
	color:#fff;
}
.box .team .team-info {
	background:url(../images/icon/01.png)no-repeat center;
	background-size:90px 67px;
	height:100px;
	width:50%;
	text-align: center;
	color:#6C6C79;
}
.level{
    margin:0px 14px;
    margin-top:10px;
}
.level span{
	width:calc((100% - 28px) / 3);
	display:inline-block;
	text-align: center;
	font-size:15px;
}
.level span.tab{
	padding-bottom:22px;
	background:url(../images/icon/xiahuaxian.png)no-repeat center bottom; 
}
.content{
	margin:0 14px;
}
.conter-info a{
	margin-bottom:20px;
	display:inline-block;
	width: 100%;
}
.userInfo{
	background:#fff;
	padding:10px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	font-size:15px;
	color:#666;
}
.userInfo .user{
	width:50%;
}
.userInfo .userName{
	background:url(../images/icon/data.png) no-repeat left center;
	background-size:18px;
	padding-left:22px;
}
.userInfo .userid{
	background:url(../images/icon/ID.png) no-repeat left center;
	background-size:18px;
	padding-left:22px;
}
.userInfo .userPhone{
	background:url(../images/icon/call.png) no-repeat left center;
	background-size:18px;
	padding-left:22px;
}
.userInfo .userTime{
	background:url(../images/icon/grade.png) no-repeat left center;
	background-size:18px;
	padding-left:22px;
}
.sale{
	border-top:1px solid #F6F5FA;
	background:#fff;
    padding:6px 0px;
    font-size:14px;
	color:#666;
}
.sale .fl,.sale .fr{
	width:50%;
}
.sale .fl>span:last-child{
	color:#FF0051;
}
.sale .fr>span:last-child{
	color:#FF0051;
}
.userOrder{
	background:#fff;
	padding:12px;
	font-size:14px;
	border-bottom:1px solid #E5E5E5;
}
.userOrder .Order_number{
	font-size:15px;
}
.userOrder .Order_number>div:nth-child(2){
	padding:6px 0;
}
.userOrder .userPrecie {
	text-align: center;
}
.userOrder .userPrecie>div:nth-child(2n){
	color:#FF0051;
}
.more{
	text-align:center;
	color:#3D3BEE;
	background:#fff;
	font-size:14px;
	padding:6px 0;
	cursor: pointer;
}
.beginYear {
    color: #7B7B7B;
    font-size: 13px;
    margin-bottom: 6px;
}

.nodate{
	background:#fff url(../images/icon/nodate.png)no-repeat center 10px;
	background-size:80px 98px ;
    padding-top: 120px;
    padding-bottom: 20px;
    font-size:14px;
}


/*从属团队*/
.box .subordinate-team .team .J_team{
	background:url(../images/icon/01.png)no-repeat center;
	background-size:90px 67px;
	height:100px;
	width:50%;
	text-align: center;
	color:#6C6C79;
}
.box .subordinate-team .team .team-info {
	background:url(../images/icon/bbg01.png)no-repeat center;
	background-size:90px 67px;
	height:100px;
	width:50%;
	text-align: center;
	color:#fff;
} 
.total{
	margin:0 14px;
	background:#E7EEFC;
	padding:14px 0 6px 0;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
}
.total-sales .fl,.total-sales .fr{
	width:50%;
	text-align: center;
	font-size:15px;
}
.total-sales .fl>div:last-child,.total-sales .fr>div:last-child{
	color:#FF0051;
}
.total .J_subordinate{
	text-align:center;
	font-size:14px;
	padding:2px 0;
}
.team-item{
	margin:14px;
}
.team-item a{
	background:#fff;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	padding:10px 6px;
	position: relative;
    width: 100%;
    display: block;
    margin-bottom:20px;
}
.user-avatar img{
	border-radius:100%;
	margin-right:16px;
}
.user-avatar{
	padding-bottom:10px;
}
.user-avatar div{
	color:#373737;
	font-size:14px;
}
.user-avatar .fl>div:last-child{
	margin-top:4px;
	background:url(../images/icon/follow.png)no-repeat left center;
	background-size:17px 18px;
	padding-left:20px;
}
.team-item .back{
    position: absolute;
    right: 6px;
    top: 22%;
}
/*团队详情*/
.J_teamDeail{
	margin:14px;
}
.J_teamDeail .J_team{
	width:50%;
}
.user-head{
	background:#fff;
	border-radius:8px;
	width:50%;
	padding:8px 8px 24px 8px;
	color:#6C6C79;
}
.user-head .user-headName{
	font-size:14px;
	background:url(../images/icon/friends_03.png)no-repeat left center;
	background-size:16px 18px;
	padding-left:20px;
	margin-bottom:8px;
}
.user-head .teamNumber{
	padding:3px 0;
}
.user-head .teamNumber .fr{
	color:#FF0655;
}
.user-head .teamNumber .fl{
	position:relative;
}
.user-head .teamNumber .fl span.dian{
	width:4px;
	height:4px;
	display:inline-block;
	border-radius:100%;
	background: #3D3BEE;
	margin-right:4px;
	position:absolute;
	top:6px
}
.user-head .teamNumber .fl .jkons{
	padding-left:8px;
}
.J_teamDeail .J_team img{
	border-radius:100%;
	margin:0 10px;
}
.J_teamDeail .J_team .userName{
	padding-top:6px;
	color:#0F0F0F;
}
.J_teamDeail .J_team .userName>div:last-child{
	margin-top:4px;
}
.J_teamTotal{
	text-align:center;
	color:#fff;
	background:#3D3BEE;
	width:80%;
	padding:17px 0;
	border-radius:8px;
	margin:14px auto 0 auto;
	box-shadow:0px 0px 33px rgba(61,59,238,.45);;
}


